/* stylelint-disable color-function-notation */
:root {
  --color: 0, 0%;
  --ssl-blue: #070b51;
  --ssl-blue-l: color-mix(in srgb, var(--ssl-blue) 95%, white);
  --ssl-blue-d: color-mix(in srgb, var(--ssl-blue) 95%, black);
  --ssl-gold: #bd9523;
  --ssl-accent-d: #1c1c1c;
  --lighter-text: hsl(var(--color), 100%);
  --darker-text: hsl(var(--color), 0%);
  --key: #276bb0;
  --important: #60c689;
  --top-background: hsl(var(--color), 10%);
  --middle-background: hsl(var(--color), 20%);
  --bottom-background: hsl(var(--color), 30%);
  --border-color: hsl(var(--color), 25%);
}
/* stylelint-enable color-function-notation */

/* General styles */
body {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  color: white;
  background: var(--bottom-background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
}

#router-page-wrapper {
  padding: 0 12px;
}

.key-attribute {
  color: var(--key);
  font-weight: 600;
}

.important-attribute {
  color: var(--important);
  font-weight: 600;
}

/* Should prevent rendering elements that have display none
.router-hidden {
  display: none;
}
*/

/* Navbar with logo */
.ssl-navbar {
  background-color: var(--ssl-blue-d);
  height: 72px;
  margin-bottom: 20px;
  position: relative;

  .nav-container {
    display: flex;
    flex-direction: row;
    margin-left: 128px;
    margin-right: 12px;
    height: inherit;
    max-width: 100%;
    align-items: end;
    justify-content: space-between;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
  }
}

.nav-toggle {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 8px;
  margin-left: 8px;
  height: 24px;
  width: 24px;
  background-color: yellow;
  z-index: 100;
}

.nav-container-narrow {
  display: none;
}

$navbar-label-height: 32px;
$navbar-items-width: 112px;

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #eee;
  font-weight: 600;
  padding: 0 8px;
  height: $navbar-label-height;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  z-index: 102;

  a {
    display: inline-block;
    width: 100%;
    padding: 8px;
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background: #eee;
    color: black;
    cursor: pointer;
  }

  &:active {
    filter: brightness(90%);
  }

  &:has(.nav-menu-items):hover {
    cursor: default;
  }

  &:has(.nav-menu-items):active {
    filter: none;
  }

  &:hover .nav-menu-items {
    display: block;
  }
}

.nav-menu-sub-items {
  display: none;
  background: #eee;
  position: absolute;
  top: 0;
  color: black;
  left: $navbar-items-width;
  width: max-content;
  box-shadow: 0 0 2px black;
  border-bottom-right-radius: 2px;
  z-index: 100;

  div {
    display: flex;
    flex-direction: column;
  }
}

.nav-menu-items { /* stylelint-disable-line no-descending-specificity */
  display: none;
  background: #eee;
  position: absolute;
  top: $navbar-label-height;
  left: 0;
  width: $navbar-items-width;
  font-weight: normal;
  box-shadow: 0 0 2px black;
  border-bottom-left-radius: 2px;
  z-index: 101;

  .nav-menu-item-caret-down {
    display: none;
  }

  .nav-menu-item,
  .nav-menu-sub-item {
    border-bottom: 1px solid #aaa;
    border-bottom-left-radius: 2px;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #4b8dad;
      color: #eee;
      cursor: pointer;
    }

    &:active {
      filter: brightness(90%);
    }
  }

  .nav-menu-item:has(.nav-menu-sub-items) {
    padding: 8px;
  }

  &:hover .nav-menu-sub-items {
    display: block;
  }
}

@media (max-width: 767px) {
  // Make sure page content isn't hidden behind fixed nav
  #router-page-wrapper {
    padding-top: 92px;
  }

  // For some reason this Shiny-generated element doesn't span the full width of the menu.
  // Setting this rule to force it to match all other menu items.
  /* stylelint-disable-next-line selector-id-pattern */
  .shiny-spinner-output-container:has(#app-nav-jobsNavigationMobile) {
    width: 100%;
  }

  .ssl-navbar {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 90;

    .nav-container {
      display: none;
    }

    .logo {
      right: 0;
      left: auto;
    }
  }

  .nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ssl-blue-d);
    transition: left 0.5s ease-in-out;
    z-index: 9999;
    color: white;

    .nav-toggle-icon-open {
      display: none;
    }
  }

  .nav-container-narrow {
    background: var(--bottom-background);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: fixed;
    gap: 24px;
    left: 0;
    top: 0;
    right: 0;
    max-width: 0;
    overflow: hidden;
    margin: 0;
    z-index: 99;
    transition: max-width 0.5s ease-in-out;
    box-shadow: 0 0 30px black;
    border-bottom-right-radius: 12px;

    & > div {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 0;

    & > div:has(> span),
    & > div:has(> a),
    & > a {
      border-bottom: 1px solid black;
      width: 100%;
    }

    a,
    span {
      padding: 12px 8px;
      color: #eee;
    }

    .fa-door-open,
    .fa-user {
      display: none;
    }
  }

  .nav-menu-items {
    background: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    box-shadow: none;

    &.show-items {
      height: max-content;
    }

    .nav-menu-item {
      background: var(--middle-background);
      border-bottom: 1px solid black !important;
      padding: 0 !important;
    }

    .nav-menu-item:has(.nav-menu-sub-items) > div {
      justify-content: flex-start !important;
    }

    // When sub-items are showing
    .nav-menu-item:has(.nav-menu-sub-items[style*="max-content"]) > div {
      border-bottom: 1px solid black;
    }

    .nav-menu-item-caret-down {
      display: block;
    }

    .nav-menu-item-caret-right {
      display: none;
    }

    a,
    span {
      padding-left: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .nav-menu-sub-items {
    background: none;
    display: block;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    box-shadow: none;

    .nav-menu-sub-item {
      background: var(--top-background);
      border-bottom: 1px solid black;
      color: #eee;
    }

    a,
    span {
      padding-left: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

/* Makes result boxes overflow and creates a scroller */
.results {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  scrollbar-color: #666 #999;
}

.results > div {
  min-width: 140px;
  padding-right: 5px;
  padding-left: 5px;
}

.shiny-split-layout {
  display: flex; /* Use Flexbox */
}

.shiny-split-layout > div {
  display: flex; /* Nested Flexbox */
  flex-direction: column; /* Stack children vertically */
}

.shiny-split-layout > div:has(> div.attribute) {
  overflow: visible;
}

/* Display grid for the box container with 4 columns   */
#standings-cup-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#standings-cup-boxes > div:nth-child(-n+3),
#standings-cup-boxes > div:nth-child(n+7):nth-child(-n+9),
#standings-cup-boxes > div:nth-child(n+13):nth-child(-n+15),
#standings-cup-boxes > div:nth-child(n+19):nth-child(-n+21) {
  margin-bottom: -15px;
}

.small-box.bg-orange {
  background-color: #e08b46 !important;
  color: #000 !important;
}

.cup-info-div {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.scores {
  font-size: 1.2em;
  width: 20px;
  padding: 0 15%;
  float: right;
}

.scores:nth-child(odd) {
  border-right: 1px solid;
}

.scores:nth-child(even) {
  border-left: 1px solid;
}

.attribute-tables {
  display: flex;
  justify-content: space-around;
}

.attribute-cost {
  justify-content: center; /* Center content horizontally */
}

.attribute-input input {
  border-radius: 5px;
  border: 1px solid black;
  flex: 1; /* Take up all available space */
}

/* Hover information for text */

/* Updated CSS */
.hovertext {
  position: relative; /* Make sure the parent container has relative positioning */
}

.hovertext::before {
  content: attr(data_hover);
  visibility: hidden;
  opacity: 0;
  min-width: 100px;
  max-width: 300px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 999;

  /* Center on top of the element */
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%);
}

.hovertext:hover::before {
  opacity: 1;
  visibility: visible;
}

/* splits information into multiple columns */
.multicol {
  column-count: 3;
}

.card-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; /* stylelint-disable-line declaration-block-no-redundant-longhand-properties */
  padding: 10px;
  border: 2px solid var(--ssl-gold);
}

/* Buttons in dropdowns take the entire width */

.tippy-popper button {
  width: fill-available;
}

/* Custom Tippy theme */

.tippy-tooltip.ssl-theme {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.tippy-tooltip.ssl-theme .tippy-arrow {
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tippy-tooltip.ssl-theme .tippy-backdrop {
  background-color: white;
}

.tippy-tooltip.ssl-theme .tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
  font-size: 14px;
}

.tippy-popper[x-placement^="bottom"] .ssl-theme .tippy-arrow {
  border-bottom: 8px solid white;
}

.tippy-popper[x-placement^="top"] .ssl-theme .tippy-arrow {
  border-top: 8px solid white;
}

/* Fixes so that the sidebar menus are visible from the first item regardless of the split of the nav-bar */
.main-sidebar {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 18vh;
  }
}

.content-wrapper {
  min-height: 100%;
  background-color: var(--middle-background);
  z-index: 800;
}

/* Navtabs */
.nav-tabs {
  border-bottom: 1px solid var(--ssl-gold);
}

.nav-tabs > li > a {
  color: var(--lighter-text);
}

.nav-tabs > li.active > a {
  background-color: var(--top-background);
  color: var(--lighter-text);
}

.skin-blue .main-header .navbar {
  background-color: var(--ssl-blue-d);

  /* background-image: url(https://i.imgur.com/k7qNGB5.jpg); */
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: var(--top-background);

  /* background-image: url(https://i.imgur.com/k7qNGB5.jpg); */
  border-right: 2px solid var(--ssl-gold);
}

.skin-blue .main-header .logo {
  background-color: var(--top-background);
  color: #fff;
  border-bottom: 0 solid #000;

  /* background-image: url(https://i.imgur.com/k7qNGB5.jpg); */
  border-right: 2px solid var(--ssl-gold);
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
  color: #fff;
  background: var(--ssl-gold);

  /* background-image: url(https://i.imgur.com/gVNA3OP.jpg); */
}

.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a {
  color: #fff;
  background: var(--bottom-background);
  border-left-color: var(--ssl-gold);
}

.skin-blue .sidebar-menu > li.active > a {
  border: none;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: var(--ssl-gold);
}

.skin-blue .sidebar-menu .treeview-menu > li.active > a,
.skin-blue .sidebar-menu .treeview-menu > li > a:hover {
  color: var(--ssl-blue-d);
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0;
  background: var(--ssl-gold);
}

.content {
  min-height: 1000px;
  padding: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--middle-background);
  background-image: url("https://i.imgur.com/9BuU3Op.jpeg");
}

.card-header {
  color: var(--ssl-gold);
  display: block;
  padding: 10px;
  position: relative;

  /* background-image: url(https://i.imgur.com/k7qNGB5.jpg); */
  border: 2px solid var(--ssl-gold);
  text-align: center;
}

.card.card-primary {
  border-top-color: var(--ssl-gold);
}

.card-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; /* stylelint-disable-line declaration-block-no-redundant-longhand-properties */
  border-top: 1px solid var(--ssl-gold);
  padding: 10px;
  background-color: var(--ssl-gold);
  color: #fff;
}

.card {
  position: relative;
  border-radius: 3px;
  background: #444;
  border-top: 1px solid var(--ssl-gold);
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.results .card-header,
.results .card-body {
  text-align: center;
  border: 2px solid var(--ssl-gold);
  color: #fff;
  background-color: var(--middle-background);
}

.rt-th,
.rt-th-inner,
.rt-pagination {
  overflow: visible !important;
  background-color: var(--middle-background);
  color: var(--ssl-gold);
}

.rt-td-inner {
  text-wrap: nowrap;
}

.rt-sort-header {
  text-wrap: pretty;
}

.rt-text-content {
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

/* stylelint-disable selector-class-pattern */
.Reactable {
  background-color: var(--top-background);
}

.Reactable .rt-table {
  background: inherit;
  border: 1px solid var(--ssl-gold);
  scrollbar-color: #666 #999;
}

.Reactable .rt-tbody,
.Reactable .rt-tfoot,
.Reactable .rt-thead {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: var(--middle-background);
}
/* stylelint-enable selector-class-pattern */

.rt-th {
  border-bottom: 2px solid var(--ssl-gold);
  border-left-color: rgb(0 0 0 / 5%);
  border-left-width: 1px;
}

.rt-td {
  border-left-color: rgb(0 0 0 / 5%);
  border-left-width: 1px;
  border-top: 1px solid var(--ssl-gold);
}

.rt-search {
  margin: 10px 20px 8px;
  width: 100%;
  width: fill-available;
  background-color: var(--bottom-background);
  color: var(--lighter-text);
}

.sticky-reactable-column,
.sticky-reactable-header {
  position: sticky !important;
  left: 0;
  background: var(--top-background);
  z-index: 1;
}

.leader-table {
  padding-top: 20px;
}

.attribute,
.attribute-cost {
  background-color: var(--middle-background);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px;
  flex: 1; /* Distribute remaining space evenly */
  display: flex; /* Use Flexbox */
  align-items: center; /* Align items vertically */
}

.frozen-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: var(--top-background);
  padding: 10px 20% 30px 30%;
  border-top: 1px solid var(--ssl-gold);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}

.rank-list-item {
  color: var(--darker-text);
}

.modal-content {
  background-color: var(--bottom-background);
  border: var(--top-background);
  border-radius: 4px;
}

.verify-box {
  background: var(--lighter-text);
  color: var(--darker-text);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Target the table inside the .verify-box class */
.verify-box .ReactTable { /* stylelint-disable-line selector-class-pattern */
  background-color: #f9f9f9; /* Light background for the table */
  border: 1px solid #ddd; /* Light border around the table */
  border-radius: 5px; /* Optional rounded corners */
  overflow: hidden; /* Ensure no overflow */
}

/* Style for the table header */
.verify-box .rt-th {
  text-transform: uppercase; /* Make header text uppercase */
  background-color: #e0e0e0; /* Slightly darker background for header */
  color: #333; /* Dark text color for contrast */
  font-weight: bold; /* Bold font for header */
  padding: 10px; /* Padding inside header cells */
}

.verify-box .rt-th-inner {
  background-color: inherit;
}

/* Style for the table rows (cells) */
.verify-box .rt-td {
  color: #333; /* Dark text color for visibility */
  padding: 10px; /* Padding inside cells */
  border-bottom: 1px solid #ddd; /* Light border between rows */
  background-color: #fff; /* Light background for table rows */
}

/* Optional: Style the last row border */
.verify-box .rt-tr-group:last-child .rt-td {
  border-bottom: none; /* Remove the border from the last row */
}

/* Optional: Add hover effect for rows */
.verify-box .rt-tr:hover .rt-td {
  background-color: #f0f0f0; /* Slightly darker background on hover */
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  right: 90%;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
}

.navbar-head {
  display: flex;
  flex-direction: row;
}

.navbar-head button {
  color: inherit;
  background: inherit;
  border: none;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 0 20px;
}

/* Index Tables */
.table-club-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;
}

.leader-table .table-club-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.table-club-name span {
  padding-left: 10px;
  text-wrap: pretty;
}

/* Edit Schedule selects */
.small-select .selectize-input {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-indent: 1px;
}

.small-select .selectize-input::after {
  display: none !important;
}

.selectize-dropdown-content {
  text-wrap: nowrap;
}

/* CSS styles for player and user statuses */
.active {
  color: #66b38c;
}

.inactive,
.retiring {
  color: #d96f68;
}

.retired {
  color: #f5d17e;
}

.highcharts-background {
  fill: #efefef;
}

.centered-flex-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-wrapper {
  display: flex;
  flex-direction: column;
}

.flex-row-wrapper {
  display: flex;
  flex-direction: row;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-button {
  background-color: #4b8dad;
  border-color: #070b51;
  color: white;
}

.career-record-button {
  width: 300px;
  min-height: 72px;
  background: #e5e5e5;
  text-align: left;
  padding: 0 8px;
  border-radius: 8px;
  color: black;
  margin-bottom: 8px;
  border-color: #bd9523;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.numeric-stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e1e1e1;

  .numeric-stepper-button {
    background-color: var(--ssl-accent-d);
    padding: 4px;
    border-top: 1px solid #6c6c6c;
    border-bottom: 1px solid #6c6c6c;
  }

  .numeric-stepper-button:first-child {
    border-left: 1px solid #6c6c6c;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .numeric-stepper-button:last-child {
    border-right: 1px solid #6c6c6c;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .numeric-stepper-button:hover {
    background-color: var(--ssl-blue-l);
  }

  .numeric-stepper-button:active {
    background-color: var(--ssl-blue-d);
  }

  .numeric-stepper-value {
    background-color: var(--ssl-accent-d);
    color: var(--ssl-gold);
    padding: 4px 0;
    width: 32px;
    border: 1px solid #6c6c6c;
    font-weight: 700;
    text-align: center;
  }
}

.player-attribute-editor {
  background-color: var(--ssl-accent-d);
  max-width: 280px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #6c6c6c;
  padding: 12px;
  border-radius: 4px;
  color: #e1e1e1;
}


.attribute-editor-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.attribute-editor-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}